<div id="main-container">
  <div id="links-sections-container">
      <div id="links">
          <ul>
            <li><a>Contact Us</a></li>
            <li><a>FAQs</a></li>
            <li><a>Shipping & Tracking</a></li>
            <li><a>Return & Exchange</a></li>
            <li><a>T&Cs</a></li>
            <li><a>Sitemap</a></li>
          </ul>
        </div>
        <div id="links">
            <ul>
              <li><a>About Us</a></li>
              <li><a>Careers</a></li>
              <li><a>Bulk & Custom Orders</a></li>
            </ul>
          </div>
  </div>
  <div id="copyright">
    <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> E-Commerce 2019</p>
  </div>
</div>