<a>
  <div id="main-container">
    <div id="image-container">
      <img src="https://assets.jassets.com/h_600,q_95,w_440/v1/assets/images/productImage/2018/7/6/cd37416d-5556-4024-9d7f-bb5ebde43a6a1530825330030-1.webp" alt="">
    </div>
    <div id="product-details-container">
      <div id="details">
        <div id="heading">
          <p class="text">Calvin Klein Jeans Men Blue Slim Fit Solid Casual Shirt Calvin Klein Jeans Men Blue Slim Fit Solid Casual Shirt</p>
        </div>
        <div id="price-container">
          <p id="price-line-1"><i class="fa fa-inr" aria-hidden="true"></i> 9,999 &nbsp;
            <s><i class="fa fa-inr" aria-hidden="true"></i> 99,999</s> &nbsp;
            Saved <i class="fa fa-inr" aria-hidden="true"></i> 90,000</p>
        </div>
      </div>
      <div id="quantity-size-container">
        <p><b>Size : </b>41 | <b>Qty : </b>1</p>
      </div>
      <div id="status-container">
        <p><b>Status:</b> Delivered</p>
      </div>
    </div>
  </div>
</a>