<a>
  <div id="main-container">
    <div id="image-container">
      <img [src]="image" alt="">
    </div>
    <div id="product-details-container">
      <div id="details">
        <div id="heading">
          <p class="text">{{ name }}</p>
        </div>
        <div id="price-container">
          <p id="price-line-1"><i class="fa fa-inr" aria-hidden="true"></i> {{ discountPrice }} &nbsp;
            <s><i class="fa fa-inr" aria-hidden="true"></i> {{ orderItem.price }} </s> &nbsp;</p>
            <p id="price-line-2" class="discount-text">&nbsp;&nbsp;Saved <i class="fa fa-inr" aria-hidden="true"></i> {{ discount }}</p>
        </div>
      </div>
      <div id="quantity-size-container">
        <p><b>Size : </b>{{ orderItem.size }} | <b>Qty : </b>{{ orderItem.quantity }}</p>
      </div>
      <div id="status-container">
        <p><b>Status:</b> {{ orderItem.status }}</p>
      </div>
    </div>
  </div>
</a>