<div id="main-container">
  <div id="header">
    <p id="header-text">Edit Address</p>
  </div>
  <div id="address-form">
    <form>
      <input type="text" name="name" placeholder="Full Name" class="form-control">
      <input type="text" name="mobile" placeholder="Mobile No" class="form-control">
      <input type="text" name="address" placeholder="Address" class="form-control">
      <input type="text" name="town" placeholder="Town" class="form-control">
      <input type="text" name="city" placeholder="City" class="form-control">
      <input type="text" name="state" placeholder="State" class="form-control">
      <input type="text" name="pincode" placeholder="Pincode" class="form-control">
      <button type="button" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </form>
  </div>
</div>