#main-container{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    display: inline-block;
    width: 304px;
}
#header{
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 8px;
}
#header-text{
    font-size: 22px;
    margin: 0px;
}
#address-form{
    display: inline-block;
    text-align: left;
    width: 100%;
}
input{
    margin-bottom: 8px;
}
button{
    margin-right: 8px;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin-top: 0px;
    }
}