<div id="main-container">
    <div id="right-links">
        <div id="search">
            <input id="search-bar" placeholder="Search our collection.." type="text" class="form-control">
            <i id="search-icon" class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div id="seperator"></div>
        <div class="user-dropdown" id="user">
            <a routerLink="account/profile/profile-display"><i class="fa fa-user user" aria-hidden="true"></i></a>
            <div id="login-container" class="dropdown">
                <div id="login-form">
                    <label id="heading">Login</label>
                    <input type="text" class="form-control" placeholder="E-mail">
                    <input type="password" class="form-control" placeholder="Password">
                    <button type="button" class="btn btn-primary">Sign in</button>
                    <a routerLink="/forgot-password"><p class="link-hover" id="forgot-password">Forgot password?</p></a>
                </div>
                <a routerLink="/register"><p class="link-hover" id="register">New User? Register here</p></a>
            </div>
        </div>
        <div class="heart-dropdown" id="heart">
            <a routerLink="/wishlist"><i class="fa fa-heart heart" aria-hidden="true"></i></a>
        </div>
        <div id="cart">
            <a routerLink="/cart"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
        </div>
    </div>
</div>