<div id="main-container">
    <div id="right-links">
        <div id="search">
            <input id="search-bar" placeholder="Search our collection.." type="text" class="form-control">
            <i id="search-icon" class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div id="seperator"></div>
        <div id="user">
            <a><i class="fa fa-user user" aria-hidden="true"></i></a>
        </div>
        <div id="heart">
            <a><i class="fa fa-heart heart" aria-hidden="true"></i></a>
        </div>
        <div id="cart">
            <a><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
        </div>
    </div>
</div>