<div id="main-container">
    <div class="banners-container">
        <div class="banner-large">
            <a><img [src]="bannerLarge" alt=""></a>
        </div>
    </div>
    <div class="banners-container">
        <div *ngFor="let banner of bannerSmall" class="banner-small">
            <a><img [src]="banner" alt=""></a>
        </div>
    </div>
    <div class="banners-container">
        <div *ngFor="let banner of bannerMedium" class="banner-medium">
            <a><img [src]="banner" alt=""></a>
        </div>
    </div>
</div>