<div id="main-container">

  <div (transitionend)="transitionEnd($event)" id="images-container" #imageSlider> 
    <img (click)="imageLinkClicked(lastCloneLink)" #image [src]="lastClone" id="lastClone">
    <img *ngFor="let img of imageList; let i = index"
      (click)="imageLinkClicked(linksList[i])"
      #image [src]="img">
    <img (click)="imageLinkClicked(firstCloneLink)" #image [src]="firstClone" id="firstClone">
  </div>
  
  <!-- Navigation arrows -->
  <a (click)="previousSlide()"><i id="arrow-left" class="fa fa-chevron-left arrows" aria-hidden="true"></i></a>
  <a (click)="nextSlide()"><i id="arrow-right" class="fa fa-chevron-right arrows" aria-hidden="true"></i></a>

  <!-- Navigation circles -->
  <!-- If Interested add them later -->
</div>