#main-container{
    margin: 50px 0px 0px 0px;
    width: 100%;
    /* height: 50%; */
    background: black;
    position: relative;
    transition: 0.5s all;
}
img{
    width: 100%;
    height: 100%;
}
#arrow-left{
    font-size: 32px;
    position: absolute;
    left: 4px;
    top: 45%;
}
#arrow-right{
    font-size: 32px;
    position: absolute;
    right: 4px;
    top: 45%;
}
#circles-main-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
#circles-container{
    width: 60px;
    margin: 0px auto;
}
.circles{
    font-size: 8px;
    margin: 2px;
}
a{
    height: inherit;
    width: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: white;
}
.circle-hover:hover{
    color: red;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin: 90px 0px 0px 0px;
    }
    #circles-container{
        width: 84px;
        margin: 0px auto;
    }
    .circles{
        font-size: 10px;
        margin: 4px;
    }
}