<div id="main-container">
  
  <a><img [src]="currentImage" alt=""></a>
  
  <!-- Navigation arrows -->
  <a (click)="backwardSlide()"><i id="arrow-left" class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
  <a (click)="forwardSlide()"><i id="arrow-right" class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

  <!-- Navigation circles -->
  <div id="circles-main-container">
    <div id="circles-container">
        <a class="circle-hover" *ngFor="let i of [0,1,2,3,4]">
          <i *ngIf="i!=counter" (click)="activateSlide(i)" class="fa fa-circle-thin circles" aria-hidden="true"></i>
          <i *ngIf="i==counter" class="fa fa-circle circles" aria-hidden="true"></i>
        </a>
    </div>
  </div>
</div>