<div id="main-container">
    <div [ngClass]=" { 'filters-section-active': areFiltersActive } " id="filters-section">
        <app-filters-section (filterSectionClose)="closeFilters()"></app-filters-section>
    </div>
    <div id="wrapper">
        <a (click)="openFilters()">
            <div id="filter-toggle-container">
                <div id="filter-toggle">
                    <i class="fa fa-filter filter-icon" aria-hidden="true"></i>
                </div>
            </div>
        </a>
        <div id="search-results-header">
            <p id="header-nav">{{ headerNav }}</p>
            <p id="header-title"><b>{{ headerTitle }}</b> - {{ resultCount }}</p>
        </div>
        <div id="filters-header">
            <div id="filter-title">
                <p style="font-size: 22px; margin: 0px;">FILTERS</p>
            </div>
            <div id="filters-applied">
                <div class="filter-applied-container" *ngFor="let i of [1,2,3,4,5]">
                    <p class="filter-applied-text">United Colors of Benniton</p>
                    <a class="filter-applied-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="seperator"></div>
        <div id="search-filters-container">
            <app-filters-section></app-filters-section>
        </div>
        <div id="search-results-container">
                <div class="result" *ngFor="let product of productList">
                    <a id="result-link" [routerLink]="'/product/'+ product.getId()">
                        <app-product [product]="product"></app-product>
                    </a>
                </div>
        </div>
    </div>
</div>