<div id="main-container">
    <div [ngClass]=" { 'filters-section-active': areFiltersActive } " id="filters-section">
        <app-filters-section (filterSectionClose)="closeFilters()"></app-filters-section>
    </div>
    <div id="wrapper">
        <a (click)="openFilters()">
            <div id="filter-toggle-container">
                <div id="filter-toggle">
                    <i class="fa fa-filter filter-icon" aria-hidden="true"></i>
                </div>
                    <p class="filter-text">Filters</p>
            </div>
        </a>
        <div id="search-results-header">
            <p id="header-text-1" class="header-text">{{ header_1 }}</p>
            <p id="header-text-2" class="header-text">{{ header_2 }}</p>
            <div id="seperator"></div>
        </div>
        <div id="search-results-container">
                <div class="result" *ngFor="let product of productList">
                    <a routerLink="/product"><app-product [product]="product"></app-product></a>
                </div>

        </div>
    </div>
</div>