<div id="main-container">
    <div id="wrapper">
        <div id="header">
          <p id="main-text">Login to XYZ</p>
          <p class="text">--using--</p>
        </div>
        <div id="signup-methods-container">
          <a>
              <div class="signup-method-buttons">
                  <div class="buttons-wrapper">
                      <div class="logo">
                          <img src="https://pbs.twimg.com/profile_images/927446347879292930/Fi0D7FGJ_400x400.jpg" alt="">
                      </div>
                      <div class="button-container">
                          <p class="button-text">Google</p>
                      </div>
                  </div>
              </div>
          </a>
          <a>
            <div class="signup-method-buttons">
              <div class="buttons-wrapper">
                <div class="logo">
                    <img src="https://www.freeiconspng.com/uploads/facebook-transparent-logo-png-0.png" alt="">
                </div>
                <div class="button-container">
                  <p class="button-text">Facebook</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div style="display: inline-block; width: 100%;">
            <p class="text">--or using email--</p>
        </div>
          <div id="form-container">
              <form (ngSubmit)=onSubmit(f) #f="ngForm">
                <input ngModel type="text" name="mail" class="form-control invalid" placeholder="Email" required email #email="ngModel">
                  <span class="help-block error-msg" *ngIf="!email.valid && email.touched">Please enter Email!</span>
                <input ngModel type="password" name="password" class="form-control invalid" placeholder="Password" required #password="ngModel">
                  <span class="help-block error-msg" *ngIf="!password.valid && password.touched">Please enter Password!</span>
                <div style="display: inline-block; width: 100%; margin-bottom: 16px;">
                  <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">Login</button>
                </div>
              </form>
          </div>
          <div style="display: inline-block; width: 100%;">
              <a routerLink="/register"><p class="text link-hover">Sign Up</p></a>
          </div>
          <div style="display: inline-block; width: 100%;">
              <a routerLink="/forgot-password"><p class="text link-hover">Forgot Password?</p></a>
          </div>
    </div>
  </div>