<div id="main-container">
    <div id="profile-header">
      <div id="profile-picture">
        <div id="picture">
            <img src="https://assets.capitalfm.com/2016/11/calvin-harris-taylor-swift-holiday-instagram-1458121760-view-0.jpg" alt="">
        </div>
      </div>
      <div id="profile-name">
        <p style="margin: 0px;">Akhilesh Lingala</p>
        <p style="font-size: 14px;">akhil@gmail.com</p>
      </div>
      <div id="seperator"></div>
    </div>
    <div id="menu-wrapper">
      <div id="menu">
        <div class="menu-item">
          <a routerLink="profile/profile-display"><i class="fa fa-user" aria-hidden="true"></i>   Profile</a>
        </div>
        <div class="menu-item">
          <a routerLink="my-addresses/address-display"><i class="fa fa-address-book" aria-hidden="true"></i>   Addresses</a>
        </div>
        <div class="menu-item">
          <!-- Link route for below anchor tag -->
          <a><i class="fa fa-archive" aria-hidden="true"></i>   My Orders</a>
        </div>
      </div>
      <div id="seperator-vertical"></div>
      <div id="menu-item-detail">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>