ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
label{
    margin: 1px 8px;
}
input{
    margin: 4px;
    cursor: pointer;
}
.list-items{
    float: left;
}
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.filter-header{
    color: white;
    display: block;
    text-align: left;
    padding: 8px;
    background-color: #9237e8;
}
.filter-contents{
    text-align: left;
    padding: 0px 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 0px;
    transition: 0.5s all;
}
.scroll-view{
    display: table-row;
}
.filter-expand{
    max-height: 256px;
}
a{
    cursor: pointer;
    text-decoration: none;
}