<div id="main-container">
    <form>
      <label>Name:</label>
      <input [(ngModel)]="userInfo.name" type="text" name="name" class="form-control">
      <label>Gender:</label>
      <div id="gender">
          <input [(ngModel)]="userInfo.gender" type="radio" name="gender" value="Male"> Male
          <input [(ngModel)]="userInfo.gender" type="radio" name="gender" value="Female"> Female
      </div>
      <label>Mobile No:</label>
      <input [(ngModel)]="userInfo.mobileNo" type="text" name="mobileNo" class="form-control">
      <label>E-Mail:</label>
      <input [(ngModel)]="userInfo.mail" type="text" name="mail" class="form-control">
      <button (click)="onSave()" type="button" class="btn btn-success">Save</button>
      <button (click)="onCancel()" type="button" class="btn btn-danger">Cancel</button>
    </form>
  </div>