#main-container{
    padding: 0px 8px;
    width: 304px;
    display: inline-block;
    text-align: left;
}
input{
    margin-bottom: 8px;
}
#gender{
    margin-bottom: 8px;
}
button{
    margin-right: 8px;
    cursor: pointer;
}