#menu{
    width: 100%;
    display: block;
    vertical-align: top;
    text-align: left;
}
.menu-item{
    font-size: 14px;
    padding: 8px 0px;
}
table{
    width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
a:hover{
    color: rgb(146, 55, 232);
}