<div id="main-container">
  <div id="wrapper">
    <div id="products-container">
        <div class="address-view-container">
            <input class="address-items address-radio" type="radio" name="address">
            <app-address-view class="address-items"></app-address-view>
            
        </div>
        <div class="product-view-container" *ngFor="let _ of [0,1,2,3,4]">
            <app-product-cart-view></app-product-cart-view>
        </div>
    </div>
    <div id="order-summary-container">
        <p class="price-text" style="font-weight: bold;">Price Details</p>
        <div class="summary-item">
            <p class="price-text">Total MRP</p>
            <p class="price-text right"><i class="fa fa-inr" aria-hidden="true"></i>99,999</p>
        </div>
        <div class="summary-item">
            <p class="price-text">Discount</p>
            <p class="price-text right"><i class="fa fa-inr" aria-hidden="true"></i>99,999</p>
        </div>
        <div class="summary-item">
            <p class="price-text">Tax</p>
            <p class="price-text right"><i class="fa fa-inr" aria-hidden="true"></i>99,999</p>
        </div>
        <div class="summary-item">
            <p class="price-text">Coupon Discount</p>
            <!-- <p class="price-text right">
              <i class="fa fa-inr" aria-hidden="true"></i>
              99,999
            </p> -->
            <a class="price-text right" style="color: rgb(50, 209, 150);">Apply Coupon</a>
        </div>
        <div class="summary-item">
            <p class="price-text">Delivery Charges</p>
            <p class="price-text right"><i class="fa fa-inr" aria-hidden="true"></i>99,999</p>
        </div>
        <div id="seperator"></div>
        <div class="summary-item">
            <p class="price-text" style="font-weight: bold;">Total</p>
            <p class="price-text right" style="font-weight: bold;">
              <i class="fa fa-inr" aria-hidden="true"></i>
              99,999
            </p>
        </div>
        <button type="button" class="btn btn-success">Place Order</button>
    </div>
  </div>
</div>