<div id="main-container">
  <div class="banners-container">
      <div class="banner-large">
          <a><img src="https://www.thesouledstore.com/static/images/newtiles/boxers.jpg" alt=""></a>
      </div>
  </div>
  <div class="banners-container">
        <div class="banner-medium">
            <a><img src="https://www.thesouledstore.com/static/images/newtiles/boxers.jpg" alt=""></a>
        </div>
        <div class="banner-medium">
            <a><img src="https://www.thesouledstore.com/static/images/newtiles/boxers.jpg" alt=""></a>
        </div>
    </div>
    <div class="banners-container">
          <div class="banner-small">
              <a><img src="https://images.thesouledstore.com/public/theSoul/uploads/slider/tile-20181012130745.jpg" alt=""></a>
          </div>
          <div class="banner-small">
              <a><img src="https://images.thesouledstore.com/public/theSoul/uploads/slider/tile-20181012130113.jpg" alt=""></a>
          </div>
          <div class="banner-small">
              <a><img src="https://images.thesouledstore.com/public/theSoul/uploads/slider/tile-20181012125954.jpg" alt=""></a>
          </div>
          <div class="banner-small">
              <a><img src="https://images.thesouledstore.com/public/theSoul/uploads/slider/tile-20181012130005.jpg" alt=""></a>
          </div>
    </div>
</div>