#main-container{
    position: relative;
    text-align: center;
}
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#images-container{
    display: none;
    width: 116px;
    height: 600px;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: white;
    box-shadow: 0px 0px 30px 2px rgb(219, 219, 219, 0.9);
}
#selected-image-container{
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.image-preview-container{
    height: 128px;
    width: 100px;
    margin-bottom: 8px;
}
.image-preview{
    height: inherit;
    width: inherit;
}
#selected-image{
    width: inherit;
    object-fit: contain;
}
a{
    height: inherit;
    width: inherit;
    text-decoration: none;
    cursor: pointer;
}
.arrows{
    position: absolute;
    font-size: 32px;
    color: grey;
    top: 50%;
}
#left-arrow{
    left: 4px;
}
#right-arrow{
    right: 4px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
i:hover{
    color: black;
}
/* Image Preview Container arrows */
.image-preview-arrows{
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    border: 0.5px solid grey;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: white;
    color: #9237e8;
}
#top-arrow{
    top: -16px;
    left: 42px;
}
#bottom-arrow{
    bottom: -16px;
    left: 42px;
}
#bottom-arrow i{
    margin-top: 8px;
}
@media only screen and (min-width: 1024px){
    #images-container{
        display: inline-block;
    }
    #selected-image-container{
        width: calc(100% - 116px);
        padding: 8px;
    }
    #selected-image{
        max-height : 584px;
    }
    .arrows{
        display: none;
    }
}
@media only screen and (min-width: 1280px){
    
}