<div id="main-container">
  <div id="header">
    <p id="header-text">Profile</p>
  </div>
  <div id="profile-display">
    <table>
      <tr>
        <td><p><b>Name</b></p></td>
        <td><p><b>:</b></p></td>
        <td><p>Akhilesh Lingala</p></td>
      </tr>
      <tr>
        <td><p><b>Gender</b></p></td>
        <td><p><b>:</b></p></td>
        <td><p>Male</p></td>
      </tr>
      <tr>
        <td><p><b>Mobile No &nbsp; &nbsp;</b></p></td>
        <td><p><b>:&nbsp;&nbsp;</b></p></td>
        <td><p>+91 91xxx xxxxx</p></td>
      </tr>
      <tr>
        <td><p><b>E-mail</b></p></td>
        <td><p><b>:</b></p></td>
        <td><p>akhil@gmail.com</p></td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary">Edit</button>
  </div>
  <div id="profile-edit">
    <form>
      <label>Name:</label>
      <input type="text" name="name" class="form-control">
      <label>Gender:</label>
      <div id="gender">
          <input type="radio" name="gender"> Male
          <input type="radio" name="gender"> Female
      </div>
      <label>Mobile No:</label>
      <input type="text" name="name" class="form-control">
      <label>E-Mail:</label>
      <input type="text" name="name" class="form-control">
      <button type="button" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </form>
  </div>
</div>