<div id="main-container">
  <div id="wrapper">
    <div id="header-container">
      <p id="header-text">My Wishlist - 7 items</p>
    </div>
    <div *ngFor="let _ of [1,2,3,4,5,6,7]" id="item-container">
      <div id="close-button">
          <a><i class="fa fa-times-circle close" aria-hidden="true"></i></a>
      </div>
      <a>
        <div id="item">
          <app-product></app-product>
        </div>
      </a>
      <div id="text-container">
        <a><p id="cart-text">Move to Cart</p></a>
      </div>
    </div>
  </div>
</div>