#outer-container{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: inherit;
    padding: 8px;
    text-align: left;
}
#outer-container:hover{
    background-color: bisque;
}
#product-image{
    width: inherit;
    padding-bottom: 10px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
#product-info{
}
#product-name-container{
    width: 100%;
    overflow-x: hidden;
}
#product-name{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: black;
    
}
#product-price-container{
    width: 100%;
    overflow: hidden;
}
#product-price{
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 14px;
}
#seperator{
    height: 1px;
    width: 100%;
    background-color: grey;
}
#product-size-container{
    width: 100%;
    overflow: hidden;
}
#product-size{
    margin: 0px;
    padding: 2px 0px 2px 0px;
    color: grey;
    opacity: 0.8;
}