<div id="outer-container">
    <div  id="product-image">
      <img [src]="product.getImages()[0]" alt="">
    </div>
    <div id="product-info">
      <div id="product-name-container">
        <p id="product-name">{{ product.getName() }}</p>
      </div>
      <div id="product-price-container">
          <p id="product-price">
            <s style="font-size: 14px; color: grey;">
              Rs.{{ price }}</s>
            <b>  Rs.{{ discountPrice }}  </b>
            <b style="color: red; font-size: 12px;">( {{ discount }} % Off)</b>
          </p>
      </div>
      <div id="seperator"></div>
      <div id="product-size-container">
          <p id="product-size">
            <b>SIZES </b>
            {{ product.sizesToString() }}
          </p>
      </div>
    </div>
</div>