<div id="main-container">
    <div id="filters-section">
        <div class="filter">
            <div class="filter-header">
                <strong>Brands<span class="caret"></span></strong>
                <!-- <div class="seperator"></div> -->
            </div>
            <div class="filter-contents">
                <div class="scroll-view">
                    <ul>
                        <li *ngFor="let _ of [0,1,2,3,4,5,6,7,8,9]">
                            <div style="width: 100%;height: 32px;">
                                <div class="list-items">
                                    <input type="checkbox">
                                </div>
                                <div class="list-items">
                                    <label>Levis</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>