#main-container{
    margin: 50px 0px 0px 0px;
    width: 100%;
    position: relative;
}
#filters-section{
    z-index: 3;
    position: fixed;
    width: 320px;
    height: 100%;
    left: -320px;
    transition: 0.5s all;
}
.filters-section-active{
    left: 0px !important;
}
#wrapper{
    margin: 0px auto;
    padding: 24px 0px;
}
.header-text{
    display: block;
    margin: 8px;
    padding: 0px;
    font-family: "Times New Roman", Georgia, serif;
}
#header-text-1{
    font-size: 14px;
    font-weight: lighter;
}
#header-text-2{
    font-size: 20px;
    font-weight: bold;
}
#filter-toggle-container{
    width: 48px;
    height: 48px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 12px;
    z-index: 1;
}
#filter-toggle{
    height: 36px;
    width: 36px;
    background-color: #9237e8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.filter-icon{
    font-size: 24px;
    color: white;
    display: inline-block;
    margin: 6px 0px;
}
.filter-text{
    display: inline-block;
    font-family: "Times New Roman", Georgia, serif;
    font-size: 14px;
    font-weight: bold;
    color: #9237e8;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#seperator{
    height: 2px;
    width: 100%;
    background-color: #9237e8;
    margin: 4px 0px;
}
#search-results-container{
    text-align: center;
}
.result{
    display: inline-block;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin: 90px 0px 0px 0px;
    }
    #wrapper{
        width: 768px;
    }
}
@media only screen and (min-width: 1024px){
    #wrapper{
        width: 1024px;
    }
}
@media only screen and (min-width: 1366px){
    #wrapper{
        width: 1366px;
    }
}