#main-container{
    width: 100%;
    height: 100%;
    background-color: #fffdf9;
    text-align: center;
}
#header-container{
    height: 48px;
    width: 300px;
}
#filters-scroll-container{
    width: 100%;
    height: calc(100% - 138px);
    overflow-x: hidden;
    overflow-y: scroll;
}
#scroll-view{
    /* width: 100%; */
}
/* ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
} */
p{
    font-family: dinnextproregular, Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    float: left;
    margin: 7px;
}
i{
    display: inline-block;
    font-size: 34px;
    float: right;
    margin: 7px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}