#main-container{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    display: inline-block;
    width: 304px;
    background-color: white;
}
#address-form{
    display: inline-block;
    text-align: left;
    width: 100%;
}
input{
    margin-bottom: 8px;
}
.invalid.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error-msg {
    font-size: 12px;
}
button{
    margin-right: 8px;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin-top: 0px;
    }
}