<div id="main-container">
  <app-menu-header [headerText]="title"></app-menu-header>
  <div id="address-form">
    <form>
      <input type="text" name="name" placeholder="Full Name" class="form-control"
      [(ngModel)]="address.name">
      <input type="text" name="mobile" placeholder="Mobile No" class="form-control"
        [(ngModel)]="address.mobile">
      <input type="text" name="doorNo" placeholder="Door No." class="form-control"
        [(ngModel)]="address.doorNo">
      <input type="text" name="area" placeholder="Area" class="form-control"
        [(ngModel)]="address.area">
      <input type="text" name="city" placeholder="City" class="form-control"
        [(ngModel)]="address.city">
      <input type="text" name="state" placeholder="State" class="form-control"
        [(ngModel)]="address.state">
      <input type="text" name="pincode" placeholder="Pincode" class="form-control"
        [(ngModel)]="address.pincode">
      <button (click)="onSave()" type="button" class="btn btn-success">Save</button>
      <button (click)="onCancel()" type="button" class="btn btn-danger">Cancel</button>
    </form>
  </div>
</div>