#main-container{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 40px;
    background: #9237e8;
    z-index: 4;
}
#right-links{
    float: right;
    height: 40px;
    padding: 0px 16px;
}
#cart{
    margin: 9px 12px;
    float: left;
}
.cart{
    font-size: 20px;
}
#heart{
    float: left;
    margin: 10px 12px;
}
.heart{
    font-size: 18px;
}
#user{
    float: left;
    padding: 9px 14px;
    position: relative;
}
.user{
    font-size: 20px;
}
#seperator{
    margin: 8.75px 12px;
    background: white;
    width: 2px;
    height: 22.5px;
    float: left;
}
#search{
    height: 40px;
    width: 300px;
    position: relative;
    float: left;
}
#search-icon{
    top: 12px;
    right: 32px;
    position: absolute;
    font-size: 16px;
    color: black;
}
#search-bar{
    width: 256px;
    height: 25px;
    margin: 7.5px auto;
    font-size: 14px;
    padding: 0px 32px 0px 8px;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    color: black;
}
.dropdown{
    position: absolute;
    display: none;
    /* border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    text-align: center; */
}
#login-container{
    top: 40px;
    right: 0px;
}
.invalid.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error-msg {
    font-size: 12px;
}
.user-dropdown:hover .dropdown{
    display: inline-block;
}
.heart-dropdown:hover .dropdown{
    display: inline-block;
}
#login-form{
    display: inline-block;
}
input{
    margin: 0px 8px 8px 8px;
    width: 256px;
}
button{
    float: left;
    margin: 8px;
    background-color: #9237e8;
}
#forgot-password{
    font-size: 14px;
    float: left;
    margin: 15px;
    color: black;
}
#heading{
    font-size: 14px;
    display: block;
    padding: 14px;
    margin: 0px;
}#register{
    margin: 4px 4px 16px 4px;
    display: block;
    color: black;
}
.link-hover:hover{
    color: #9237e8 !important;
}