<div id="wrapper">
    <div id="main-container">
        <div id="content">
          <div id="address">
            <p id="name-text"><b>{{ address.name }}</b></p>
            <p>{{ address.doorNo }}
            {{ address.area }} {{ address.city }}</p>
            <p>{{ address.state }} - {{ address.pincode }}</p>
            <p>{{ address.mobile }}</p>
          </div>
        </div>
        <div id="seperator"></div>
        <div id="buttons">
          <div (click)="onEdit()" class="btn">
            <a>Edit</a>
          </div>
          <div (click)="onRemove()" class="btn">
            <a>Remove</a>
          </div>
        </div>
      </div>
</div>