<div id="main-container">
    <div id="wrapper">
        <div id="header">
          <p id="main-text">Forgot Password ?</p>
          <p class="text">We will send you a link to reset your password.</p>
        </div>
        <div style="display: inline-block; width: 100%;">
            <p class="text">Enter Email Address</p>
        </div>
          <div id="form-container">
              <form (ngSubmit)=onSubmit(f) #f="ngForm">
                <input ngModel type="text" name="mail" class="form-control invalid" placeholder="Email" email required #email="ngModel">
                  <span class="help-block error-msg" *ngIf="!email.valid && email.touched">Please enter a vaild Email!</span>
                <div style="display: inline-block; width: 100%; margin-bottom: 16px;">
                  <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">Send Reset Link</button>
                </div>
              </form>
          </div>
          <div style="display: inline-block; width: 100%;">
              <a routerLink="/login"><p id="login" class="text">Login</p></a>
          </div>
    </div>
  </div>