<div id="main-container">
    <div id="wrapper">
        <div id="header">
          <p id="main-text">Forgot Password ?</p>
          <p class="text">We will send you a link to reset your password.</p>
        </div>
        <div style="display: inline-block; width: 100%;">
            <p class="text">Enter Email Address</p>
        </div>
          <div id="form-container">
              <form>
                <input type="text" class="form-control" placeholder="Email">
                <div style="display: inline-block; width: 100%; margin-bottom: 16px;">
                  <button type="button" class="btn btn-primary">Send Reset Link</button>
                </div>
              </form>
          </div>
          <div style="display: inline-block; width: 100%;">
              <a routerLink="/login"><p id="login" class="text">Login</p></a>
          </div>
    </div>
  </div>