#main-container{
    height: 100%;
    width: 100%;
    background-color: rgb(219, 219, 219, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
} */
#menu-container{
    position: absolute;
    height: 256px;
    width: 160px;
    background: white;
    top: 25%;
    left: 45%;
    border-radius: 8px;
    z-index: 5;
}
#heading{
    width: 100%;
    text-align: center;
}
.text{
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
}
#seperator{
    height: 1px;
    width: 100%;
    background: grey;
}
#menu-items-container{
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 42px);
    width: 100%;
}
#wrapper{
    text-align: left;
    width: 100%;
}
.item-text{
    padding: 8px 16px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    background-color: #9237e8;
    color: white;
}