<div id="main-container">
  <app-popup *ngIf="addressPopupActive">
    <div id="address-edit-wrapper">
      <app-address-edit></app-address-edit>
    </div>
  </app-popup>
  <app-popup *ngIf="alertPopupActive">
    <app-alert
      [text]="alertText"
      (alertChoice)="closeAlert($event)"
      >
    </app-alert>
  </app-popup>
  <div id="wrapper">
    <div id="header">
      <p id="header-text">Choose Delivery Address</p>
    </div>
    <div id="header-seperator"></div>
    <div id="add-new-address">
      <a (click)="createAddress()">+ Add New Address</a>
    </div>
    <div id="address-container">
        <app-address-view class="address_view" *ngFor="let address of addressList; index as i"
          [address] = "address"
          [addressIndex] = "i"
          (deleteAddress)="openAlert($event)"
          >
        </app-address-view>
    </div>
    <div id="summary-wrapper">
        <div id="order-summary-container">
            <app-order-summary [summary]="cart"></app-order-summary>
            <button (click)="makePayment()" type="button" class="btn btn-success">Make Payment</button>
        </div>
    </div>
  </div>
</div>