#main-container{
    margin: 58px 0px 0px 0px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#header{
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 0px 8px;
}
#header-seperator{
    height: 1px;
    width: 100%;
    margin: 8px 0px;
}
#header-text{
    font-size: 22px;
    margin: 0px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
a:hover{
    color: #9237e8;
}
#add-new-address{
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0px 8px;
    padding-bottom: 8px;
}
#address-container{
    display: inline-block;
}
.address_view{
    display: inline-block;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .address-view{
         width: 100%;
    }
}
#order-summary-container{
    box-shadow: 0px 0px 30px 2px rgb(219, 219, 219, 0.9);
    width: 100%;
    vertical-align: top;
    background-color: white;
    display: inline-block;
    text-align: left;
    padding: 8px;
}
#summary-wrapper{
    padding: 0px 8px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
button{
    width: 100%;
    font-size: 14px;
}

@media only screen and (min-width: 768px){
    #main-container{
        margin-top: 98px;
    }
    #address-edit-wrapper{
        background-color: white;
        padding: 8px;
    }
    .price-text{
        font-family: Whitney,Arial,sans-serif !important;
        font-size: 14px;
        display: inline-block;
        color: #535766
    }
    .address-radio{
        height: 16px;
        width: 16px;
    }
}
@media only screen and (min-width: 960px){
    #wrapper{
        width: 960px;
        margin: 0px auto;
        margin-bottom: 0px;
    }
    #address-container{
        width: 640px;
    }
    #summary-wrapper{
        width: 320px;
    }
}