<div id="main-container">
    <div id="header-container">
        <p>FILTER BY</p>
        <a style="height:inherit;" (click)="onCloseFilters()">
            <div id="apply-button-container">
                <p id="apply-button">Apply</p>
            </div>
        </a>
        <a style="height:inherit;" (click)="onCloseFilters()">
                <div id="clear-button-container">
                    <p id="clear-button">Clear</p>
                </div>
            </a>
    </div>
    <div id="filters-scroll-container">
            <app-checkbox-filter [options]="brandFilters"
                filterName="Brands"></app-checkbox-filter>
            <app-radio-filter [options]="priceFilters"
                filterName="Price Range"></app-radio-filter>
    </div>
</div>