#main-container{
    margin: 58px 8px 4px 8px;
    text-align: center;
    height: 480px;
}
p{
    font-size: 22px;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin: 98px 8px 4px 8px;
    }
}