<div id="main-container">
    <app-menu-header headerText="Change Password"></app-menu-header>
    <div id="form-container">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <input ngModel class="form-control invalid" type="text" 
          name="old_password" placeholder="Old password" required #password="ngModel">
            <span class="help-block error-msg" *ngIf="!password.valid && password.touched">
              Please enter your old password!
            </span>
        <input ngModel class="form-control invalid" type="text"
           name="new_password" placeholder="New password" required #newPassword="ngModel">
            <span class="help-block error-msg" *ngIf="!newPassword.valid && newPassword.touched">
              Please enter your new password!
            </span>
        <input ngModel class="form-control invalid" type="text" 
          name="conform_password" placeholder="Conform new password" required #conformPassword="ngModel">
            <span class="help-block error-msg" *ngIf="!conformPassword.valid && conformPassword.touched">
              Please conform your new password!
            </span>
        <button [disabled]="!f.form.valid" type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
</div>