<div id="main-container">
    <div id="header">
        <p id="header-text">Change Password</p>
    </div>
    <div id="form-container">
      <form>
        <input class="form-control" type="text" name="old_password" placeholder="Old password">
        <input class="form-control" type="text" name="new_password" placeholder="New password">
        <input class="form-control" type="text" name="conform_password" placeholder="Conform new password">
        <button type="button" class="btn btn-primary">Change</button>
      </form>
    </div>
</div>