#main-container{
    text-align: left;
}
input{
    margin-bottom: 8px;
}
.invalid.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error-msg{
    font-size: 12px;
}
@media only screen and (min-width: 768px){
    input{
        max-width: 304px;
    }
}