#main-container{
    text-align: left;
}
#header{
    text-align: left;
    margin-bottom: 8px;
}
#header-text{
    font-size: 22px;
    margin: 0px;
    display: block;
}
input{
    margin-bottom: 8px;
}
@media only screen and (min-width: 768px){
    input{
        max-width: 304px;
    }
}