<div id="wrapper">
    <div id="main-container">
        <div id="content">
          <div id="radio">
            <input class="radio-btn" type="radio" name="address" id="address">
          </div>
          <div id="address">
              <p id="name-text"><b>Akhilesh Lingala</b></p>
              <p>12/Z, Sector - 10
              Ukkunagaram Visakhapatnam</p>
              <p>Visakhapatnam - 530036</p>
              <p>91XXXXXXXX</p>
          </div>
        </div>
        <div id="seperator"></div>
        <div id="buttons">
          <div class="btn">
            <a>Edit</a>
          </div>
          <div class="btn">
              <a>Remove</a>
          </div>
        </div>
      </div>
</div>