<div id="main-container">
  <div id="image-container">
      <img [src]="product.imageUrl" alt="">
  </div>
  <div id="product-details-container">
    <div id="details">
      <div id="heading">
        <a class="text">{{ product.name }}</a>
      </div>
      <div id="price-container">
        <p id="price-line-1"><i class="fa fa-inr" aria-hidden="true"></i> 
          {{ product.newPrice}}</p>
        <p id="price-line-2"><i class="fa fa-inr" aria-hidden="true"></i> 
          {{ product.oldPrice }} | {{ product.discount }}</p>
      </div>
    </div>
    <div id="quantity-size-container">
          <a (click)="openSizeDropdown()" class="quantity-size-buttons">Size: {{ product.size }} 
            <span class="caret"></span></a>
          <a (click)="openQuantityDropdown()" class="quantity-size-buttons">Quantity: {{ product.quantity }} 
            <span class="caret"></span></a>
    </div>
    <div id="large-screen">
        <div id="seperator-large"></div>
        <div id="buttons-container-large">
            <a class="buttons-large">Move To Wishlist</a>
            <a class="buttons-large">Remove</a>
        </div>
    </div>
  </div>
  <div id="small-screen">
      <div id="seperator-small"></div>
      <div id="buttons-container-small">
          <a class="buttons-small">Move To Wishlist</a>
          <a class="buttons-small">Remove</a>
      </div>
  </div>
  
</div>