<div id="main-container">
  <a [routerLink]="'/product/'+ productId">
    <div id="image-container">
      <img [src]="image" alt="">
    </div>
  </a>
  <div id="product-details-container">
    <div id="details">
      <div id="heading">
        <a [routerLink]="'/product/'+ productId" class="text" (click)="test()">
          {{ title }}</a>
      </div>
      <div id="price-container">
        <p id="price-line-1"><i class="fa fa-inr" aria-hidden="true"></i> 
          {{ discountPrice }}</p>
        <p id="price-line-2"><i class="fa fa-inr" aria-hidden="true"></i> 
          {{ price }} | {{ discount }}% Off</p>
      </div>
    </div>
    <div id="quantity-size-container">
          <a (click)="openSizeMenu()" class="quantity-size-buttons">Size: {{ cartItem.size }} 
            <span class="caret"></span></a>
          <a (click)="openQuantityMenu()" class="quantity-size-buttons">Quantity: {{ cartItem.quantity }} 
            <span class="caret"></span></a>
    </div>
    <div id="large-screen">
        <div id="seperator-large"></div>
        <div id="buttons-container-large">
            <a (click)="onMoveToWishlist()" class="buttons-large">Move To Wishlist</a>
            <a (click)="removeCheck()" class="buttons-large">Remove</a>
        </div>
    </div>
  </div>
  <div id="small-screen">
      <div id="seperator-small"></div>
      <div id="buttons-container-small">
          <a (click)="onMoveToWishlist()" class="buttons-small">Move To Wishlist</a>
          <a (click)="removeCheck()" class="buttons-small">Remove</a>
      </div>
  </div>
  
</div>