<div id="main-container">
  <p id="title">{{ title }}</p>
  <div id="scroll-container">
    <a (click)="onLeftScroll()">
      <div #leftArrowContainer id="left-arrow" class="arrow-btn-container">
        <i class="fa fa-chevron-left arrow" aria-hidden="true"></i>
      </div>
    </a>
    <div #itemsContainer id="items-container">
      <a [routerLink]="'/product/'+ product.getId()" *ngFor="let product of itemsList">
        <div class="item">
          <app-product [product]="product"></app-product>
        </div>
      </a>
    </div>
    <a (click)="onRightScroll()">
      <div #rightArrowContainer id="right-arrow" class="arrow-btn-container">
        <i class="fa fa-chevron-right arrow" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</div>