<div id="main-container">
  <div id="main-wrapper">
      <div id="content-wrapper">
          <a (click)="onLeftScroll()">
            <div #leftArrowContainer id="left-arrow-container">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
          </a>
          <div #productsMainContainer id="products-main-container">
            <div id="products-container">
              <div id="product" *ngFor="let product of productList">
                <a><app-product [product]="product"></app-product></a>
              </div>
            </div>
          </div>
          <a (click)="onRightScroll()">
            <div #rightArrowContainer id="right-arrow-container">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </a>
        </div>
  </div>
</div>