#main-container{
    text-align: center;
    width: 100%;
    background-color:white;
}
#seperator{
    height: 0.5px;
    width: 100%;
    background: rgb(237, 237, 237, 0.9);
}
.list-heading{
    font-size: 14px;
    text-align: left;
}
a .list-heading{
    color: #9237e8;
}
.list-container{
    padding: 16px 32px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    max-width: 200px;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
li a{
    padding: 2px;
    display: block;
    font-size: 13px;
    color: inherit;
    text-align: left;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li:hover{
    color: #9237e8;
    font-weight: bold;
}