#main-container{
    text-align: center;
    width: 100%;
    background-color:#ededed;
}
.list-heading{
    font-size: 12px;
    text-align: left;
}
a .list-heading{
    color: black;
}
.list-container{
    padding: 16px 32px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    max-width: 200px;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
li a{
    padding: 2px;
    display: block;
    font-size: 12px;
    color: inherit;
    text-align: left;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li:hover{
    color: #9237e8;
}