<div id="main-container">
  <a (click)="onExpand()">
    <div class="filter-header">
        <strong>{{ filterName }}&nbsp;&nbsp;&nbsp;<span class="fa fa-caret-down"></span></strong>
      </div>
  </a>
  <div [ngClass]= "{ 'filter-expand' : isExpanded }" class="filter-contents">
    <div class="scroll-view">
      <form [formGroup]="filters">
        <ul>
          <li *ngFor="let filter of options; let i = index">
            <div style="width: 100%;height: 32px;">
              <div class="list-items">
                <input (change)="itemSelected(i, $event)"
                  formControlName="{{ filter }}"
                  type="checkbox" name="{{ filterName }}"
                  value="{{ filter }}">
              </div>
              <div class="list-items">
                <label>{{ filter }}</label>
              </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>