<div id="main-container">
  <div id="profile-header">
    <div id="profile-picture">
      <div id="picture">
          <img src="https://assets.capitalfm.com/2016/11/calvin-harris-taylor-swift-holiday-instagram-1458121760-view-0.jpg" alt="">
      </div>
    </div>
    <div id="profile-name">
      <p style="margin: 0px;">Akhilesh Lingala</p>
      <p style="font-size: 14px;">akhil@gmail.com</p>
    </div>
    <div id="seperator"></div>
  </div>
  <div id="menu">
    <div class="menu-item">
      <a>Profile</a>
    </div>
    <div class="menu-item">
      <a>Addresses</a>
    </div>
    <div class="menu-item">
      <a>My Orders</a>
    </div>
  </div>
</div>