<div id="main-container">
  <div class="header">
    <p class="header-text">Order Details</p>
  </div>
  <div class="basic-info">
      <table>
          <tr>
                <td><p>Order No</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>{{ order.id }}</p></td>
          </tr>
          <tr>
                <td><p>Placed On</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>{{ order.timeline.placementDate }}</p></td>
          </tr>
          <tr>
                <td><p>Shipped On</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>{{ order.timeline.shippedDate }}</p></td>
          </tr>
          <tr>
                <td><p>Delievered On</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>{{ order.timeline.deliveryDate }}</p></td>
          </tr>
        </table>
  </div>
  <div class="seperator"></div>
  <div class="header" style="margin-top: 8px;">
      <p class="header-text">Price Details</p>
  </div>
  <div class="basic-info">
    <table>
      <tr>
        <td><p>MRP</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p><i class="fa fa-inr" aria-hidden="true"></i> {{ order.orderDetails.MRP }}</p></td>
      </tr>
      <tr>
        <td><p>Shipping Charges</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p><i class="fa fa-inr" aria-hidden="true"></i> {{ order.orderDetails.shippingCharges }}</p></td>
      </tr>
      <tr>
        <td><p>GST</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p ><i class="fa fa-inr" aria-hidden="true"></i> {{ order.orderDetails.GST }}</p></td>
      </tr>
      <tr>
        <td><p>Discount</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p class="discount-text">
          <i class="fa fa-inr" aria-hidden="true"></i> {{ order.orderDetails.discount }}
        </p></td>
      </tr>
      <tr *ngIf="order.orderDetails.couponDiscount != 0">
        <td><p>Coupon Discount</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p class="discount-text">
          <i class="fa fa-inr" aria-hidden="true"></i> 
          {{ order.orderDetails.couponDiscount }} ({{ order.orderDetails.coupon.code }})
        </p></td>
        </tr>
      <tr>
        <td><div class="seperator"></div></td>
        <td><div class="seperator"></div></td>
        <td><div class="seperator"></div></td>
      </tr>
      <br>
      <tr>
        <td><p>Total</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p>
          <i class="fa fa-inr" aria-hidden="true"></i> {{ order.orderDetails.total }}
        </p></td>
      </tr>
      <br>
    </table>
  </div>
  <div class="seperator"></div>
  <div class="header" style="margin-top: 8px;">
      <p class="header-text">Shipping Address</p>
  </div>
  <div id="shipping-address-container">
      <div id="address">
          <p id="name-text"><b>{{ order.address.name }}</b></p>
          <p>{{ order.address.doorNo }}
          {{ order.address.area }} {{ order.address.city }}</p>
          <p>{{ order.address.state }} - {{ order.pinCode }}</p>
          <p>{{ order.address.mobile }}</p>
      </div>
  </div>
  <div class="seperator"></div>
  <div class="header" style="margin-top: 8px;">
      <p class="header-text">Items in this order</p>
  </div>
  <div class="basic-info">
      <div class="order-item" *ngFor="let orderItem of order.orderDetails.getCartItems()">
        <app-order-item [orderItem]="orderItem"></app-order-item>
      </div>
  </div>
</div>