#main-container{
    text-align: left;
    width: 100%;
}
.header{
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}
.header-text{
    font-size: 22px;
    margin: 0px;
}
.basic-info{
    display: block;
    width: 100%;
}
.seperator{
    height: 1px;
    width: 100%;
    background: grey;
}
#shipping-address-container{
    display: block;
}
#name-text{
    font-size: 16px;
}
#address{
    display: inline-block;
    text-align: left;
}
p{
    margin-bottom: 4px;
}
.order-item{
    margin: 8px 0px;
    width: 100%;
}
.discount-text{
    color: rgb(50, 209, 150);
}
@media only screen and (min-width: 768px){
    #main-container{
        padding: 8px;
    }
}