<div id="menu">
    <div class="menu-item">
      <a (click)="onSelect()" routerLink="profile/profile-display">
        <i class="fa fa-user" aria-hidden="true"></i>   Profile</a>
    </div>
    <div class="menu-item">
      <a (click)="onSelect()" routerLink="my-addresses/address-display">
        <i class="fa fa-address-book" aria-hidden="true"></i>   Addresses</a>
    </div>
    <div class="menu-item">
      <!-- Link route for below anchor tag -->
      <a (click)="onSelect()"><i class="fa fa-archive" aria-hidden="true"></i>   My Orders</a>
    </div>
  </div>