/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Nunito', sans-serif !important;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 1.42857143;
}