<div id="main-container">
  <div id="image-container">
      <img src="https://assets.jassets.com/h_600,q_95,w_440/v1/assets/images/productImage/2018/7/6/cd37416d-5556-4024-9d7f-bb5ebde43a6a1530825330030-1.webp" alt="">
  </div>
  <div id="product-details-container">
    <div id="details">
      <div id="heading">
        <a class="text">Calvin Klein Jeans Men Blue Slim Fit Solid Casual Shirt</a>
      </div>
      <div id="price-container">
        <p id="price-line-1"><i class="fa fa-inr" aria-hidden="true"></i> 9,999</p>
        <p id="price-line-2"><i class="fa fa-inr" aria-hidden="true"></i> 99,999 | 90% Off</p>
      </div>
    </div>
    <div id="quantity-size-container">
          <a class="quantity-size-buttons">Size: 41 <span class="caret"></span></a>
          <a class="quantity-size-buttons">Quantity: 1 <span class="caret"></span></a>
          <!-- <app-dropdown-menu-fullscreen></app-dropdown-menu-fullscreen> -->
    </div>
    <div id="large-screen">
        <div id="seperator-large"></div>
        <div id="buttons-container-large">
            <a class="buttons-large">Move To Wishlist</a>
            <a class="buttons-large">Remove</a>
        </div>
    </div>
  </div>
  <div id="small-screen">
      <div id="seperator-small"></div>
      <div id="buttons-container-small">
          <a class="buttons-small">Move To Wishlist</a>
          <a class="buttons-small">Remove</a>
      </div>
  </div>
  
</div>