<div id="main-container">
  <div id="left-container">
    <div class="left-container-links">
      <p class="heading-text">USEFUL LINKS</p>
      <ul>
        <li><a>About Us</a></li>
        <div class="seperator">|</div>
        <li><a>Contact Us</a></li>
        <div class="seperator">|</div>
        <li><a>FAQs</a></li>
        <div class="seperator">|</div>
        <li><a>Shipping</a></li>
        <div class="seperator">|</div>
        <li><a>Return</a></li>
        <div class="seperator">|</div>
        <li><a>Exchange</a></li>
        <div class="seperator">|</div>
        <li><a>Careers</a></li>
        <div class="seperator">|</div>
        <li><a>Bulk & Custom Orders</a></li>
      </ul>
    </div>
    <div class="left-container-links">
      <p class="heading-text">SHOPPING</p>
      <ul>
        <li><a>Men</a></li>
        <div class="seperator">|</div>
        <li><a>Women</a></li>
        <div class="seperator">|</div>
        <li><a>Kids</a></li>
        <div class="seperator">|</div>
        <li><a>Accessories</a></li>
        <div class="seperator">|</div>
        <li><a>Sports</a></li>
        <div class="seperator">|</div>
        <li><a>Home Appliances</a></li>
      </ul>
    </div>
    <div class="left-container-links">
      <p class="heading-text">POLICY</p>
      <ul>
        <li><a>Return Policy</a></li>
        <div class="seperator">|</div>
        <li><a>Terms Of Use</a></li>
        <div class="seperator">|</div>
        <li><a>Security</a></li>
        <div class="seperator">|</div>
        <li><a>Privacy</a></li>
        <div class="seperator">|</div>
        <li><a>Sitemap</a></li>
      </ul>
    </div>
  </div>
  <div id="right-container">
    <div class="right-container-links">
      <p class="heading-text" style="margin-bottom: 8px;">KEEP IN TOUCH</p>
      <div class="icons-container">
        <div class="social-icon">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
      </div>
      <p class="heading-text" style="margin-bottom: 8px;">WE ACCEPT</p>
      <div class="icons-container">
        <div class="social-icon">
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
          <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
          <i class="fa fa-cc-amex" aria-hidden="true"></i>
        </div>
        <div class="social-icon">
          <i class="fa fa-cc-discover" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="right-container-links">
      <p class="heading-text">OFFICE ADDRESS</p>
      <p class="office-address-text">E-commerce India Pvt. Ltd</p>
      <p class="office-address-text">Kashyap Appartments Flat 407</p>
      <p class="office-address-text">Akkayapalem</p>
      <p class="office-address-text">Visakhapatnam - 530040</p>
      <p class="office-address-text">Andhra Pradesh, India</p>
    </div>
  </div>
</div>