#main-container{
    margin: 4px 0px 0px 0px;
    float: left;
    width: 100%;
    /* background-color: #9237e8; */
    background-color: #6a22ad;
    color: white;
}
#links-sections-container{
    width: 304px;
    height: 128px;
    margin: 0px auto;
}
#copyright{
    width: 304px;
    margin: 0px auto;
    text-align: center;
    font-size: 8px;
}
#links{
    float: left;
    width: 136px;
    margin: 0px 8px;
}
ul{
    list-style-type: none;
    margin: 4px auto;
    padding: 0px;
    overflow: hidden;
}
li{
    
    
}
li a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}