<div id="main-container">
  <div id="wrapper">
    <div id="header">
        <p id="header-text">My Cart</p>
    </div>
    <div id="products-container">
        <div class="product-view-container" *ngFor="let product of cartProducts">
            <app-product-cart-view [product]="product"></app-product-cart-view>
        </div>
    </div>
    <div id="order-summary-container">
        <app-order-summary [summary]="orderSummary"></app-order-summary>
        <button (click)="onPlaceOrder()" type="button" class="btn btn-success">Place Order</button>
    </div>
  </div>
</div>