<div id="main-container">
  <div class="header">
    <p class="header-text">Order Details</p>
  </div>
  <div class="basic-info">
      <table>
          <tr>
                <td><p>Order No</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>11532-52111</p></td>
          </tr>
          <tr>
                <td><p>Placed On</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>25 May 2019</p></td>
          </tr>
          <tr>
                <td><p>Shipped On</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>26 May 2019</p></td>
          </tr>
          <tr>
                <td><p>Delievered On</p></td>
                <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
                <td><p>29 May 2019</p></td>
          </tr>
        </table>
  </div>
  <div class="seperator"></div>
  <div class="header" style="margin-top: 8px;">
      <p class="header-text">Price Details</p>
  </div>
  <div class="basic-info">
    <table>
      <tr>
        <td><p>MRP</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p>99,999</p></td>
      </tr>
      <tr>
        <td><p>Shipping Charges</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p>99,999</p></td>
      </tr>
      <tr>
        <td><p>GST</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p>99,999</p></td>
      </tr>
      <tr>
        <td><p>Discount</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p>99,999</p></td>
      </tr>
      <tr>
        <td><div class="seperator"></div></td>
        <td><div class="seperator"></div></td>
        <td><div class="seperator"></div></td>
      </tr>
      <br>
      <tr>
        <td><p>Total</p></td>
        <td><p>&nbsp;&nbsp;:&nbsp;</p></td>
        <td><p>99,999</p></td>
      </tr>
      <br>
    </table>
  </div>
  <div class="seperator"></div>
  <div class="header" style="margin-top: 8px;">
      <p class="header-text">Shipping Address</p>
  </div>
  <div id="shipping-address-container">
      <div id="address">
          <p id="name-text"><b>Akhilesh Lingala</b></p>
          <p>12/Z, Sector - 10
          Ukkunagaram Visakhapatnam</p>
          <p>Visakhapatnam - 530036</p>
          <p>91XXXXXXXX</p>
      </div>
  </div>
  <div class="seperator"></div>
  <div class="header" style="margin-top: 8px;">
      <p class="header-text">Items in this order</p>
  </div>
  <div class="basic-info">
      <div class="order-item">
        <app-order-item ></app-order-item>
      </div>
      <div class="order-item">
        <app-order-item ></app-order-item>
      </div>
      <div class="order-item">
        <app-order-item ></app-order-item>
      </div>
  </div>
</div>