#main-container{
    margin: 58px 8px 4px 8px;
}
#profile-header{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
#profile-picture{
    display: inline-block;
    text-align: left;
    width: 20%;
}
#profile-name{
    display: inline-block;
    text-align: left;
    width: 80%;
    font-size: 18px;
    vertical-align: middle;
    padding-top: 8px;
}
#picture{
    width: 48px;
    height: 48px;
    margin: 0px auto;
}
#seperator{
    height: 1px;
    background: grey;
    width: 100%;
    margin-bottom: 8px;
}
#menu-wrapper{
    display: inline-block;
    width: 100%;
    text-align: center;
}
img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

#seperator-vertical{
    display: none;
}
#menu{
    width: 100%;
    display: inline-block;
}
#menu-item-detail{
    display: none;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin-top: 98px;
    }
    #profile-picture{
        display: block;
        text-align: left;
        width: 100%;
    }
    #profile-name{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 18px;
        vertical-align: middle;
        padding-top: 8px;
    }
    #picture{
        width: 128px;
        height: 128px;
        margin: 0px auto;
    }
    /* #seperator-vertical{
        display: inline-block;
        width: 1px;
        background: grey;
        height: 512px;
    } */
    #menu-item-detail{
        display: inline-block;
        vertical-align: top;
        width: 80%;
    }
    #menu{
        width: 20%;
    }
}
@media only screen and (min-width: 1024px){
    #main-container{
        width: 1008px;
        margin-left: auto;
        margin-right: auto;
    }
}