<div id="main-container">
    <div (click)="goToAccount()" id="profile-header">
      <div id="profile-picture">
        <div id="picture">
            <img src="https://assets.capitalfm.com/2016/11/calvin-harris-taylor-swift-holiday-instagram-1458121760-view-0.jpg" alt="">
        </div>
      </div>
      <div id="profile-name">
        <p style="margin: 0px;">{{ name }}</p>
        <p style="font-size: 14px;">{{ mail }}</p>
      </div>
      <div id="seperator"></div>
    </div>
    <div *ngIf="mobileScreen" id="menu-wrapper">
      <div id="menu">
        <app-menu *ngIf="!mobileMenuItemSelected"></app-menu>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="!mobileScreen" id="menu-wrapper">
      <div id="menu">
        <app-menu></app-menu>
      </div>
      <!-- <div id="seperator-vertical"></div> -->
      <div id="menu-item-detail">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>