#main-container{
    margin: 58px 8px 4px 8px;
    position: relative;
}
#wrapper{
    width: 100%;
    text-align: center;
    margin: 0px;
}
#images-container{
    width: 100%;
    display: inline-block;
}
#sizes-container{
    margin: 8px 0px;
}
#product-info-container{
    width: 100%;
    display: inline-block;
}
#product-title{
    width: 100%;
    float: left;
    text-align: left;
}
#brand-text{
    margin: 0px;
    font-size: 22px;
    font-weight: 600;
}
#product-text{
    margin: 0px;
    font-size: 18px;
}
#price-container{
    margin-top: 8px;
}
.price-text{
    display: inline-block;
    font-size: 16px;
    margin-right: 8px;
    margin-bottom: 0px;
}
#discount-price{
    font-size: 22px;
    font-weight: 600;
}
#discount-text{
    color: #00b758;
    font-weight: 600;
}
#product-size{
    text-align: left;
}
#error-msg{
    margin: 4px 0px;
    font-size: 16px;
    font-weight: lighter;
    color: red;
}
#product-delivery{
    width: 100%;
    float: left;
}
.header{
    display: block;
    text-align: left;
    font-size: 16px;
}
.seperator{
    display: inline-block;
    height: 1px;
    width: 100%;
    background: grey;
}
#buttons-section{
    float: left;
    width: 100%;
}
.buttons{
    float: left;
    padding: 0px 8px 0px 0px;
}
#pincode-check-container{
    text-align: left;
}
#pincode-textfield{
    display: inline-block;
    width: 150px;
    padding: 8px 8px 8px 0px;
}
#check-button{
    display: inline-block;
    vertical-align: top;
    padding: 8px 0px;
}
#pincode-text{
    font-size: 12px;
}
#delivery-details{
    text-align: left;
}
.delivery-details-text{
    font-size: 14px;
    margin: 4px 0px;
}
/* Brand and description */
#brand{
    width: 100%;
    padding: 8px;
    display: inline-block;
    background-color: red;
    vertical-align: top;
    text-align: center;
    height: 256px;
}
#description{
    width: 100%;
    padding: 8px;
    display: inline-block;
    background-color: black;
    height: 256px;
}
#brand img{
    width: 80%;
    object-fit: contain;
}
@media only screen and (min-width: 768px){
    #main-container{
        margin: 98px 8px 4px 8px;
        position: relative;
    }
}
@media only screen and (min-width: 1024px){
    #main-container{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #images-container{
        width: 60%;
        display: inline-block;
    }
    #product-info-container{
        padding: 0px 0px 0px 8px;
        vertical-align: top;
        width: 40%;
        display: inline-block;
    }
    #brand{
        width: 60%;
    }
    #description{
        width: 40%;
    }
}
@media only screen and (min-width: 1366px){
    #images-container{
        width: 844px;
        display: inline-block;
    }
    #product-info-container{
        vertical-align: top;
        width: 506px;
        display: inline-block;
    }
    #brand{
        width: 844px;
    }
    #description{
        width: 506px;
    }
}