<div id="main-container">
  <app-popup *ngIf="notificationPopupActive">
    <app-notification
      [text]="notifyText"
      (messageRead)="closeNotification()"
    ></app-notification>
  </app-popup>
  <app-popup *ngIf="alertPopupActive">
    <app-alert
      [text]="alertText"
      (alertChoice)="closeAlert($event)"
    ></app-alert>
  </app-popup>
  <div id="wrapper">
    <div id="images-container">
      <app-image-display [images]="product.getImages()"></app-image-display>
    </div>
    <div id="product-info-container">
      <div id="product-title">
          <p id="brand-text">{{ product.getBrand() }}</p>
          <p id="product-text">{{ product.getName() }}</p>
          <div id="price-container">
            <p class="price-text" id="discount-price">Rs. {{ productDiscount }}</p>
            <p class="price-text" id="original-price"><s>Rs. {{ product.getSizeList()[0].price }}</s></p>
            <p class="price-text" id="discount-text">( {{ product.getSizeList()[0].discount }}% OFF )</p>
          </div>
      </div>
      <div class="seperator"></div>
      <div id="product-size">
        <div class="header"><strong><p style="margin: 0px;">SIZE</p></strong></div>
        <p *ngIf="sizeNotSelected" id="error-msg">Please select a size</p>
        <div id="sizes-container">
            <app-sizes-container [sizeList]="product.getSizeNamesList()">
            </app-sizes-container>
        </div>
        <div id="buttons-section">
            <div class="buttons">
                <button (click)="addToCart()" class="btn btn-success" type="button">Add to Cart</button>
            </div>
            <div class="buttons">
                <button (click)="addToWishList()" *ngIf="!itemInWishlist"
                  class="btn btn-primary" type="button">Add to Wishlist</button>
                <button (click)="removeFromWishList()" *ngIf="itemInWishlist"
                  class="btn btn-danger" type="button">Remove from Wishlist</button>
            </div>
        </div>
      </div>
      <div class="seperator"></div>
      <div id="product-delivery">
        <div class="header"><strong><p style="margin: 0px;">Check Delivery Info</p></strong></div>
        <div id="pincode-textfield">
          <input type="text" class="form-control" placeholder="Pincode">
        </div>
        <div id="check-button">
          <button type="button" class="btn btn-primary">Check</button>
        </div>
      </div>
    </div>
  </div>
</div>