<div id="main-container">
  <app-popup *ngIf="popupActive">
    <app-notification
      [text]="notifyText"
      (messageRead)="closePopup()"
    ></app-notification>
  </app-popup>
  <div id="wrapper">
    <div id="images-container">
      <app-image-display [images]="product.getImages()"></app-image-display>
    </div>
    <div id="product-info-container">
      <div id="product-title">
        <ul>
          <li><p><strong>{{ product.getBrand() }}</strong></p></li>
          <li><p>{{ product.getName() }}</p></li>
          <li><p>Rs. {{ product.getSizeList()[0].price }}</p></li>
        </ul>
      </div>
      <div class="seperator"></div>
      <div id="product-size">
        <div class="header"><strong><p style="margin: 0px;">SIZE</p></strong></div>
        <p *ngIf="sizeNotSelected">Please select size</p>
        <div *ngFor="let size of product.getSizeList()" class="size-container">
          <div class="radio-button">
            <input [(ngModel)]="selectedSize" type="radio" name="size" [value]="size.sizeName">
          </div>
          <div class="radio-button-name">
              <p>{{ size.sizeName }}</p>
          </div>
        </div>
        <div id="buttons-section">
            <div class="buttons">
                <button (click)="addToCart()" class="btn btn-success" type="button">Add to Cart</button>
            </div>
            <div class="buttons">
                <button (click)="addToWishList()" class="btn btn-primary" type="button">Add to Wishlist</button>
            </div>
        </div>
      </div>
      <div class="seperator"></div>
      <div id="product-delivery">
        <div class="header"><strong><p style="margin: 0px;">Check Delivery Info</p></strong></div>
        <div id="pincode-textfield">
          <input type="text" class="form-control" placeholder="Pincode">
        </div>
        <div id="check-button">
          <button type="button" class="btn btn-primary">Check</button>
        </div>
      </div>
    </div>
  </div>
</div>